$main-color: #000000;
$reverse-color: #ffffff; //основной цвет шрифта страницы
$background-color: #ffffff; //основной фон страницы
$background-title: #f1f1f1; //фон заголовка страницы
$border-color: #ececec; //цвет рамок
$darken-border: #e5e5e5;
$dark-brown: #444444; //цвет рамок кнопки

$tiffany: #63d1bb;
$dark-tiffany: #56c3b2;


$fw-bold: 700;
$fw-normal: 400;
