$black-color: #000000;
$white-color: #ffffff;
$light-grey: #f1f1f1;
$grey-color: #ececec;
$dark-grey: #e5e5e5;
$dark-brown: #444444;
$tiffany: #63d1bb;
$dark-tiffany: #56c3b2;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-size-small: 15px;
$font-size: 17px;
$font-size-big: 25px;
$line-height: 24px;
$line-height-big: 30px;

$main-color: $black-color;
$main-background: $white-color;
$btn-color: $dark-brown;

$nav-border: $grey-color;
$nav-background: $white-color;
$nav-color: $black-color;

$page-header-background: $light-grey;

$page-header-interior: $tiffany;
$page-header-toys: $dark-tiffany;
$page-header-text: $white-color;

$week-color: $dark-brown;
$week-subtitle-color: $tiffany;
$week-border: $grey-color;

$contacts-text: $dark-brown;

$product-border: $grey-color;
$product-link: $black-color;

$review-color: $white-color;
$review-border: $grey-color;

$form-subtitle-color: $tiffany;
$form-border: $black-color;

$footer-background: $light-grey;
$footer-border: $dark-grey;

$modal-border: $black-color;
$modal-btn: $white-color;
$modal-btn-background: $tiffany;
