$black-color: #000000;
$white-color: #ffffff; //основной цвет шрифта страницы
$light-grey: #f1f1f1; //фон заголовка страницы
$grey-color: #ececec; //цвет рамок
$dark-grey: #e5e5e5;
$dark-brown: #444444; //цвет рамок кнопки
$product-border: #ededed;
$tiffany: #63d1bb;
$dark-tiffany: #56c3b2;


$fw-bold: 700;
$fw-normal: 400;
$fs-small: 15px;
$fs-big: 25px;
