.about-us {
  width: 260px;
  margin: 0 auto;
  padding-top: 32px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.about-us__subtitle {
  margin: 0;
  margin-bottom: 23px;

  font-size: $font-size-big;
  line-height: $line-height-big;
}

.about-us__item {
  position: relative;

  padding-top: 60px;
  margin-bottom: 19px;

  &--ecology::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;

    display: block;
    width: 33px;
    height: 38px;

    background-image: url("../img/icon-feature-1.svg");
    background-repeat: no-repeat;
  }

  &--style::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 2px;

    display: block;
    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-3.svg");
    background-repeat: no-repeat;
  }

  &--likes::before {
    position: absolute;
    content: "";
    top: 12px;
    left: 9px;

    display: block;
    width: 34px;
    height: 29px;

    background-image: url("../img/icon-feature-5.svg");
    background-repeat: no-repeat;
  }

  &--handmade::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 5px;

    display: block;
    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-2.svg");
    background-repeat: no-repeat;
  }

  &--support::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -5px;

    display: block;
    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-4.svg");
    background-repeat: no-repeat;
  }

  &--present-box::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 4px;

    display: block;
    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-6.svg");
    background-repeat: no-repeat;
  }
}
.about-us__description {
    margin: 0;

    font-size: 18px;
    line-height: 22px;
    font-weight: $font-weight-bold;
}

@media #{$tablet-width} {
  .about-us {
    display: flex;
    flex-wrap: wrap;

    width: 668px;
    padding-top: 55px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .about-us__subtitle {
    width: 100%;
    margin-bottom: 45px;

    font-size: 43px;
    line-height: 40px;
  }

  .about-us__item {
    width: 290px;
    margin-bottom: 0;
    padding-bottom: 52px;

    &--ecology {
      order: 1;
      margin-right: 43px;
    }

    &--style {
      order: 3;
      margin-right: 43px;
    }

    &--likes {
      order: 5;
      margin-right: 43px;
    }

    &--handmade {
      order: 2;
    }

    &--support {
      order: 4;
    }

    &--present-box {
      order: 6;
    }
  }

  .about-us__description {
    font-size: 21px;
  }
}

@media #{$desktop-width} {
  .about-us {
    width: 700px;
    padding-top: 59px;
    padding-left: 225px;
    padding-right: 225px;
    padding-bottom: 35px;
  }

  .about-us__subtitle {
    margin-bottom: 40px;

    font-size: 53px;
    line-height: 57px;
  }

  .about-us__item {
    width: 290px;
    margin-bottom: 0;
    padding-bottom: 52px;

    &--ecology {
      order: 1;
      margin-right: 58px;
    }

    &--style {
      order: 3;
      margin-right: 58px;
    }

    &--likes {
      order: 5;
      margin-right: 58px;
    }

  }
}
