.contacts {
  padding-top: 35px;

  &__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 35px;
  }
  &__table {
    color: #444444;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  &__table-row {
    vertical-align: top;
  }

  &__content {
    width: 75px;
    padding-bottom: 30px;
  }

  &__email {
    color: #444444;
    border-bottom: 1px solid #56c3b2;
    padding-bottom: 5px;
    text-decoration: none;
  }

  &__map {
    width: 320px;
    height: 450px;
    margin-left: -30px;
    margin-bottom: 39px;
  }
  &__write {
    display: block;
    border: 2px solid #444444;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 14px 0;
    text-decoration: none;
    color: #444444;
    margin-bottom: 39px;
  }
}
