.contacts {
  padding: 0 30px;
  padding-top: 35px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 35px;

  font-size: 18px;
  line-height: 30px;
  font-weight: $fw-bold;
}

.contacts__table {
  margin-bottom: 50px;

  font-size: $fs-small;
  line-height: 30px;
  color: $dark-brown;
}

.contacts__table-row {
  vertical-align: top;
}

.contacts__content {
  width: 75px;
  padding-bottom: 30px;
}

.contacts__email {
  border-bottom: 1px solid $dark-tiffany;
  padding-bottom: 5px;

  color: $dark-brown;

  text-decoration: none;
}

.contacts__map {
  width: 320px;
  height: 450px;
  margin-left: -30px;
  margin-bottom: 39px;
}

.contacts__write {
  display: block;
  margin-bottom: 39px;
  padding: 14px 0;

  text-align: center;
  text-transform: uppercase;
  font-weight: $fw-bold;
  color: $dark-brown;

  border: 2px solid $dark-brown;
  text-decoration: none;
}
