.copyright {
  padding-top: 25px;
  padding-bottom: 30px;
}

.copyright__text {
  padding-left: 40px;

  font-size: 19px;
  font-weight: $font-weight-bold;
}
.copyright__link {
  position: relative;
  font-size: 0;

  &::before {
    position: absolute;
    content: "";
    left: 50px;

    width: 27px;
    height: 34px;

    background-image: url("../img/logo-htmlacademy.svg");
  }
}
