.main-nav {
  width: 100%;
  padding: 0;
  margin: 0;

  text-align: center;
  list-style: none;
}
.main-nav__link {
  display: block;
  padding: 27px 0;

  color: $nav-color;
  text-decoration: none;
}
.main-nav__item {
  font-weight: $font-weight-bold;

  background-color: $nav-background;
  border-bottom: 1px solid $nav-border;
}

@media #{$tablet-width} {
  .main-nav {
    text-align: left;

    display: flex;
    order: 2;
    width: 396px;
    padding-left: 50px;

    background-color: #f9f9f9;
  }
  .main-nav__item {
    padding: 0;
    width: 167px;

    border: none;
    background-color: #f9f9f9;
  }
  .main-nav__link {
    width: 100%;
  }
}

@media #{$desktop-width} {
  .main-nav {
      order: 0;
      background-color: #ffffff;
      border-bottom: 1px solid #e7e7e7;
  }
  .main-nav__item {
    width: 185px;

    border-right: 1px solid $nav-border;
    background-color: #ffffff;

    &:nth-child(2n) {
      padding-left: 30px;
      border: none;
    }
  }
}
