.main-footer {
  background-color: $footer-background;
}

.main-footer__logo {
  display: none;
}
@media #{$tablet-width}{
  .main-footer__logo {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    min-height: 45px;
  }
}
@media #{$desktop-width} {
  .main-footer__logo {
    width: 175px;
  }
}
