.main-footer-wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
}

@media #{$tablet-width} {
  .main-footer-wrapper{
    width: 668px;
    padding: 50px 50px;
  }
}
@media #{$desktop-width} {
  .main-footer-wrapper{
    width: 1050px;
    padding: 50px 50px;
  }
}
