.modal {
  padding: 0 30px;
  padding-top: 30px;

  text-align: center;
}

.modal__title {
  margin: 0 auto;
  padding: 0 50px;

  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: $font-weight-bold;
}

.modal__label {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    margin-bottom: 30px;
    padding: 9px 0;

    border: 1px solid $modal-border;
  }

.modal__radio {
    display: none;
  }

.modal__btn {
    display: block;
    width: 100%;
    padding: 14px 0;

    font-size: 17px;
    line-height: 20px;
    font-weight: $font-weight-bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: $modal-btn;

    background-color: $modal-btn-background;
    border: none;
  }
