.order-form__block {
  width: 260px;
  padding: 15px 30px;
  margin: 0 auto;
}
.order-form__text {
  width: 260px;
  margin: 0 auto;
}
.order-form__subtitle {
  position: relative;

  margin: 0;
  margin-bottom: 10px;
  margin-top: 25px;

  line-height: 20px;
  color: $form-subtitle-color;

  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    right: 0;
    top: 10px;

    width: 197px;
    height: 1px;

    background-color: $form-subtitle-color;
  }

  &--mail {
    &::before {
      width: 180px;
    }
  }
}

.order-form__radio {
  display: none;
}

.order-form__checkbox {
  display: none;
}

.order-form__label{
  position: relative;

  display: block;
  margin-bottom: 10px;
  padding: 10px 0;

  font-weight: $font-weight-bold;

  &--radio {
    padding-left: 62px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;

      width: 37px;
      height: 37px;

      border: 2px solid $form-border;
      border-radius: 50%;
    }
  }

  &--checkbox {
    padding-left: 62px;
    margin-bottom: 20px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;

      width: 38px;
      height: 38px;

      border: 2px solid $form-border;
    }
  }

  &--phone-icon {
    &::before{
      position: absolute;
      content: "";
      top: 23px;
      right: 4px;

      width: 25px;
      height: 24px;

      background-image: url("../img/icon-phone.svg");
    }
  }

  &--mail-icon {
    &::before{
      position: absolute;
      content: "";
      top: 23px;
      right: 3px;

      width: 32px;
      height: 26px;

      background-image: url("../img/icon-mail.svg");
    }
  }
}

.order-form__input {
  width: 230px;
  padding: 20px 15px;

  border: none;
  border-bottom: 2px solid $form-border;
}

.order-form__contacts {
  display: block;
  width: 205px;
  border: none;
  border-bottom: 2px solid $form-border;
  padding: 20px 0;
  padding-right: 40px;
  padding-left: 15px;
}

.order-form__textarea {
  width: 230px;
  height: 108px;
  padding: 15px;

  border: 2px solid $form-border;

  resize: none;
}

.order-form__btn {
  display: block;
  width: 100%;
  margin-bottom: 55px;
  padding: 14px 0;

  font-weight: $font-weight-bold;
  color: $btn-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  border: 2px solid $btn-color;
  background-color: transparent;
}

@media #{$tablet-width} {
  .order-form__block-wrapper {
    background-color: #f1f1f1;
  }
  .order-form__block {
    display: flex;
    width: 668px;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 25px 50px;
    margin: 0 auto;
  }
  .order-form__text {
    width: 600px;
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .order-form__wrapper {
    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      width: 493px;
    }
    &--input {
      flex-grow: 1;
      width: 493px;
    }
  }
  .order-form__input-wrapper {
    display: flex;
    margin-bottom: 15px;
  }
  .order-form__subtitle {
    width: 167px;
    margin: 0;

    &::before {
      display: none;
    }
  }

  .order-form__label {

    &--radio {
      width: 100%;
    }

    &--checkbox {
      width: 180px;
    }
  }
  .order-form__input {
    margin-left: 25px;
    width: 330px;
    flex-grow: 1;
  }
  .order-form__wrapper--contacts {
    width: 501px;
  }
  .order-form__contacts {
    width: 446px;
  }
  .order-form__textarea {
    width: 467px;
  }
  .order-form__btn {
    width: auto;
    max-width: 230px;
    order: -1;
    padding: 14px 29px;
  }
  .order-form__required-field {
    margin-left: auto;
  }
}

@media #{$desktop-width} {
  .order-form__block {
    width: 1050px;
  }
  .order-form__wrapper {
    &--checkbox {
      width: 726px;
    }
    &--contacts {
      width: 645px;
      margin-right: 170px;
    }
  }
  .order-form__input-wrapper {
    width: 700px;
  }
  .order-form__input {
    margin-left: 25px;
    width: 555px;
  }
  .order-form__wrapper--contacts {
    width: 700px;
  }
  .order-form__contacts {
    width: 645px;
  }
  .order-form__textarea {
    width: 666px;
  }
  .order-form__btn {
    margin-left: 175px;
  }
  .order-form__required-field {
    margin-right: 175px;
  }
}
