.page-header {
  margin: 0;
  padding: 0 30px;
  padding-top: 70px;

  text-align: center;

  &--index {
    padding-bottom: 130px;

    background-image: url("../img/hero-mobile@1x.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50% 30px;
  }

  &--catalog {
    padding-bottom: 75px;

    background-color: $page-header-background;
  }

  &--form {
    padding-bottom: 75px;

    background-color: $page-header-background;
  }
}

.page-header__title {
  margin: 0;

  font-size: 27px;
  line-height: $line-height-big;
  font-weight: $font-weight-bold;
}

@media #{$tablet-width} {
  .page-header--index {
    padding: 0;
    padding-top: 155px;
    padding-bottom: 365px;
    background-image: url("../img/hero-mobile@tablet.jpg");
    background-size: 100%;
    background-position: 0 0;
  }
  .page-header__title {
    padding: 0 130px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media #{$desktop-width} {
  .page-header--index {
    background-image: url("../img/hero-mobile@desktop.jpg");
    background-size: 100%;
    background-position: 0 0;
  }
  .page-header__title {
    padding: 0 265px;
    font-size: 43px;
    line-height: 50px;
  }
}
