.page-header {
  width: 260px;
  margin: 0 auto;
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;

  text-align: center;
  background-color: transparent;

  &--index {
    padding-bottom: 122px;

    background-image: url("../img/hero-mobile@1x.jpg");
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: 50% -20px;
  }

  &--catalog {
    padding-bottom: 75px;
  }

  &--form {
    padding-bottom: 75px;
  }
}

.page-header__title {
  margin: 0;

  font-size: 27px;
  line-height: $line-height-big;
  font-weight: $font-weight-bold;
}

@media #{$tablet-width} {
  .page-header {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;

    &--index {
      padding-top: 85px;
      padding-bottom: 373px;
      background-size: 100%;
      background-position: 0 0;
    }

    &--catalog {
      padding-top: 27px;
      padding-bottom: 80px;
    }

    &--form {
      padding-top: 27px;
      padding-bottom: 80px;
    }
  }

  .page-header__title {
    padding: 0 70px;
    font-size: 43px;
    line-height: 50px;

  }
}
@media #{$desktop-width} {
  .page-header {
    width: 1050px;

    &--index {
      padding-top: 100px;
      padding-bottom: 356px;

      background-size: 100%;
      background-position: 0 0;
    }

    &--catalog {
      padding-top: 37px;
      padding-bottom: 101px;
    }
  }

  .page-header__title {
    padding: 0 175px;
    font-size: 54px;
    line-height: 55px;
  }
}
