.page-navigation {
  padding: 22px 30px;
  padding-right: 160px;

  font-size: 19px;
  font-weight: $fw-bold;

  &--interior {
    background-color: $tiffany;
  }

  &--toys {
    background-color: $dark-tiffany;
  }
}

.page-navigation__category {
  color: $reverse-color;

  text-decoration: none;
}
