.products-wrapper {
  width: 260px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

@media #{$tablet-width} {
  .products-wrapper{
    width: 668px;
    padding-top: 78px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media #{$desktop-width} {
  .products-wrapper {
    width: 1050px;
    padding-top: 128px;
  }
}
