.product-card {
  margin-bottom: 29px;
  padding-bottom: 27px;

  border: 1px solid $product-border;
}

.product-card__image {
  width: 260px;
  height: 195px;

  margin-bottom: 21px;
}

.product-card__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0 28px;

  font-size: 19px;
}

.product-card__link {
  color: $product-link;
  text-decoration: none;
}

.product-card__description {
  margin: 0;
  padding: 0 25px;
  padding-bottom: 25px;

  font-size: 13px;
}

.product-card__price {
  display: inline-block;
  vertical-align: top;
  width: 210px;
  padding-top: 18px;
  padding-left: 27px;
  padding-right: 25px;

  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  border-top: 1px solid $product-border;
}

@media #{$tablet-width} {
  .product-card {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 274px;
    min-height: 309px;
    padding-top: 25px;
    padding-left: 360px;
    padding-right: 30px;
    padding-bottom: 0;
    margin-bottom: 52px;
  }

  .product-card__image {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 334px;
    height: 334px;
    margin: 0;
  }

  .product-card__title {
    padding-left: 0;
    padding-right: 40px;

    font-size: 20px;
    letter-spacing: 1px;
  }
  .product-card__description {
    padding: 0;

    font-size: 14px;
    letter-spacing: 0.6px;
  }

  .product-card__price {
    margin-top: auto;
    padding-top: 24px;
    padding-left: 5px;
    padding-bottom: 27px;

    font-size: 17px;
  }
}

@media #{$desktop-width} {
  .products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-card {
    width: 264px;
    min-height: 146px;
    padding-top: 487px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-bottom: 57px;
  }

  .product-card__image {
    width: 314px;
    height: 463px;
  }

  .product-card__title{
    padding-right: 30px;
    margin-bottom: 10px;
  }

  .product-card__price {
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
}
