.social {
  padding: 0;
  border-bottom: 1px solid $footer-border;

  font-size: 0;
}

.social__item {
  display: inline-block;
  vertical-align: top;
}

.social__link {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 86px;
  padding-top: 25px;
  padding-bottom: 25px;

  line-height: 30px;

  &--instagramm::before {
    position: absolute;
    content: "";
    top: 30px;
    right: 8px;

    width: 22px;
    height: 21px;

    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
  }

  &--fb::before {
    position: absolute;
    content: "";
    left: 33px;

    width: 15px;
    height: 29px;

    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
  }

  &--twitter::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 3px;

    width: 24px;
    height: 20px;

    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
  }
}

@media #{$tablet-width} {
  .social {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    margin: 0;
    padding: 0 65px;

    border: none;
  }

  .social__item {
    width: 60px;
    min-height: 45px;
    padding: 0;
  }

  .social__link {
    width: 60px;
    height: 45px;
    padding: 0;
  }

  .social__link--instagramm::before {
    top: 13px;
  }

  .social__link--fb::before {
    top: 10px;
  }

  .social__link--twitter::before {
    top: 13px;
    left: 30px;
  }
}

@media #{$desktop-width} {
  .social {
    padding: 0 85px;
  }
  .social__link--instagramm::before {
    top: 13px;
    left: 23px;
  }

  .social__link--fb::before {
    top: 8px;
    left: 28px;
  }

  .social__link--twitter::before {
    top: 13px;
    left: 20px;
  }
}
