.video {
  position: relative;

  padding-top: 23px;
  padding-bottom: 30px;
  margin-bottom: 58px;

  border: 1px solid $product-border;
}

.video__title {
  position: relative;

  margin: 0;
  padding-left: 90px;
  padding-right: 30px;
  margin-bottom: 24px;

  font-size: 18px;
}

.video__video {
  width: 260px;
  height: 150px;
  margin-bottom: 20px;
}

.video__play {
  position: absolute;
  top: 134px;
  left: 79px;

  width: 101px;
  height: 77px;
  padding: 0;

  border: none;
  background-color: transparent;
}

.video__image {
  width: 101px;
  height: 77px;
}

.video__text {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 33px;
  padding-right: 33px;

  font-size: 14px;
  line-height: $line-height;
}

.video__btn {
  display: block;
  width: 188px;
  margin: 0 auto;
  padding: 12px 0;

  border: 2px solid $btn-color;
  font-weight: $font-weight-bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $btn-color;
}

@media #{$tablet-width} {
  .video {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 668px;
    padding-top: 0;
    padding-bottom: 45px;
    margin-bottom: 63px;
  }

  .video__title {
    order: 1;
    padding-left: 105px;
    margin-bottom: 35px;

    font-size: 20px;
    letter-spacing: 0.7px;
  }

  .video__video{
    width: 668px;
    height: 456px;
    order: 0;
    margin-bottom: 35px;

    background-color: #f1f1f1;
  }

  .video__play {
    top: 194px;
    left: 282px;
  }

  .video__text {
    order: 2;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 33px;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.5px;
  }

  .video__btn {
    width: 580px;
    order: 3;
    margin-bottom: 0;
  }
}

@media #{$desktop-width} {
  .video {
    position: relative;
    width: 235px;
    min-height: 295px;
    padding-top: 95px;
    padding-left: 760px;
    padding-right: 55px;
    padding-bottom: 60px;
    margin-bottom: 103px;
  }

  .video__title {
    padding: 0;
  }

  .video__text {
    padding: 0;
    margin-bottom: 45px;
  }

  .video__video {
    position: absolute;
    top: 0;
    left: 0;

    width: 680px;
    height: 455px;
    margin: 0;
  }

  .video__play {
    top: 190px;
    left: 300px;
  }

  .video__btn {
    width: 227px;
    margin-top: auto;
    margin-bottom: 0;
  }
}
