.week-product {
  position: relative;

  padding: 0 30px;
  padding-top: 30px;
  padding-bottom: 35px;

  color: $week-color;
}
.week-product__name {
  margin: 0;

  font-size: $font-size-big;
  line-height: $line-height-big;
}
.week-product__subtitle {
  margin-bottom: 25px;

  color: $week-subtitle-color;

  text-transform: uppercase;
}
.week-product__description {
  margin: 25px 0;
}
.week-product__table {
  margin-bottom: 28px;
}
.week-product__information {
  width: 100px;
  padding: 10px 0;

  border-bottom: 1px solid $week-border;
}
.week-product__information-description {
  width: 220px;
  padding: 10px 0;

  border-bottom: 1px solid $week-border;
}
.week-product__image {
  width: 260px;
  height: 315px;
  margin-bottom: 25px;
}
.week-product__price {
  display: block;
  margin-bottom: 25px;

  text-align: center;
}
.week-product__btn {
  display: block;
  padding: 14px 0;

  text-align: center;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  color: $btn-color;

  border: 2px solid $btn-color;
  text-decoration: none;
}

@media #{$tablet-width} {
  .week-product {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    padding-top: 50px;
  }
  .week-product__name {
    width: 500px;
    margin-bottom: 55px;

    font-size: 43px;
    line-height: 50px;
  }
  .week-product__subtitle {
    width: 100px;
    margin: 0;
    margin-left: auto;

    font-weight: $font-weight-bold;
  }
  .week-product__description {
    width: 290px;
    margin-right: 200px;
  }
  .week-product__table {
    width: 290px;
    margin-right: 200px;
  }
  .week-product__image {
    position: absolute;
    right: 50px;
    top: 150px;

    width: 335px;
    height: 404px;
    margin: 0;
  }
  .week-product__price {
    width: 290px;
    margin-right: 200px;
  }
  .week-product__btn {
    width: 292px;
    margin-bottom: 70px;
  }
}

@media #{$desktop-width} {
  .week-product {
    padding-left: 225px;
    padding-top: 120px;
    padding-right: 50px;
  }
  .week-product__name {
    font-size: 50px;
    line-height: 57px;

    z-index: 10;
  }
  .week-product__subtitle {
    position: absolute;
    left: 90px;
    top: 120px;
    padding: 0;
  }
  .week-product__description {
  }
  .week-product__table {
    margin-bottom: 100px;
  }
  .week-product__image {
    right: 50px;
    top: 70px;

    width: 525px;
    height: 635px;
    z-index: 1;
  }
  .week-product__price {
    margin-right: 300px;
    margin-bottom: 30px;
  }
  .week-product__btn {
    margin-bottom: 100px;
  }
}
