.week-product {
  padding: 0 30px;
  padding-top: 30px;
  padding-bottom: 35px;

  color: $dark-brown;
}

.week-product__name {
  margin: 0;

  font-size: $fs-big;
  line-height: 30px;
}

.week-product__subtitle {
  margin-bottom: 25px;

  color: $tiffany;

  text-transform: uppercase;
}

.week-product__description {
  margin: 25px 0;
}

.week-product__table {
  margin-bottom: 28px;
}

.week-product__information {
  width: 100px;
  padding: 10px 0;

  border-bottom: 1px solid $grey-color;
}

.week-product__information-description {
  width: 220px;
  padding: 10px 0;

  border-bottom: 1px solid #ececec;
}

.week-product__image {
  width: 260px;
  height: 315px;
  margin-bottom: 25px;
}

.week-product__price {
  display: block;
  margin-bottom: 25px;

  text-align: center;
}

.week-product__btn {
  display: block;
  padding: 14px 0;

  text-align: center;
  text-transform: uppercase;
  font-weight: $fw-bold;
  color: $dark-brown;

  border: 2px solid $dark-brown;
  text-decoration: none;
}
